<% suggestion.comments.all.each do |comment| %>
  <%= comment.body %>
  <%= comment.created_at.strftime('%y-%m-%d %H:%m') %>
  <br>
<% end %>
<div class="collapse" id="comment-box<%= index %>" aria-hidden="false">
  <form action="/comments" method="post">
    <div class="form-group">
      <label for="Textarea">Leave a comment</label>
      <textarea class="form-control" id="Textarea" rows="3" name="body"></textarea>
      <input type="hidden" name="suggestion_id" value="<%= suggestion.id %>">
      <input type="hidden" name="idea_id" value="<%= @idea.id %>">
      <%= button_to 'Post your comment', new_comment_path, class:"btn btn-primary" %>
    </div>
  </form>
</div>
