<%= form_for (idea) do |f| %>

  <div id="submit-idea-container" class="center-block text-center">

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, required: 'required', class: 'idea-field' %>
    </div>

    <br>

    <div class="field">
      <%= f.label :tags %><br>
      <%= f.text_field :tags, class: 'idea-field' %>
    </div>

    <br>

    <div class="field">
      <%= f.label :summary %><br />
      <%= f.text_area :summary, required: 'required', class: 'idea-field', rows: 15 %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to 'Cancel', @idea, method: :get %>
    </div>
  </div>

<% end %>
