<%= form_for (idea) do |f| %>

  <div>
    <div class="field text-center">
      <%= f.label :title %><br />
      <%= f.text_field :title, required: 'required', id: 'idea-title' %>
    </div>

    <div class="field text-center">
      <%= f.label :summary %><br />
      <%= f.text_area :summary, required: 'required', id: 'idea-summary' %>
    </div>

    <div class="actions text-center">
     <p>
       <%= f.submit "Submit", class: "btn btn-primary" %>
       <%= link_to 'Cancel', @idea, method: :get %>
     </p>
    </div>
  </div>

<% end %>
