<div id="table-body">
  <div id="idea-search" class="pull-left">
    <form role="search" action="/search">
      <input type="text" name="q" class="form-control" placeholder="Search Ideas...">
      <button type="submit" class="btn btn-default btn-primary">Search</button>
    </form>
  </div>

  <br>
  <br>

  <h1 class="text-center">Ideas</h1>
  <table class="table table-hover">
  <div class="digg_pagination">
    <% if @ideas.count > 30 %>
      <%= will_paginate ideas, :container => false %>
    <% end %>


  </div>
    <% if ideas.any? %>
      <% ideas.each_with_index do |idea, index| %>
        <tr>
          <td>
            <div class="panel-heading" data-toggle="collapse" data-target="#idea-summary<%= index %>"><h5 class="display-4"><%= idea.title %>  <small class="text-muted"><%= local_time(idea.created_at,'%B %e, %Y')%></small>
              <span class="pull-right text-muted">
                <% if idea.loves.count == 1 %>
                  <%= idea.loves.count %> person loves this idea.
                <% else %>
                  <%= idea.loves.count %> people love this idea.
                <% end %>
              </span></h5>
              <i class="fa fa-arrow-down pull-right" aria-hidden="true"></i>
            </div>

            <div class="collapse panel-body" id="idea-summary<%= index %>" aria-expanded="false"><br><p><%= link_to 'Discuss Idea', idea_path(idea), class: "pull-left" %></p><br><small class="text-muted"><%= idea.summary %></p></small></div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <p class="text-center">No ideas found.</p>
    <% end %>
  </table>
   <div class="digg_pagination">
    <% if @ideas.count > 30 %>
      <%= will_paginate ideas, :container => false %>
    <% end %>
  </div>
</div>
