<div id="suggestion-body">
  <p class="pull-right"> <%= suggestion.votes %> </p>
  <br>
  <p class='text-right'>
    <% if suggestion.up_votes.include?(@user_id) %>
        <%= link_to '<i class="suggestion-icon fa fa-thumbs-up" aria-hidden="true"></i>'.html_safe, up_vote_path(suggestion_id: suggestion.id), method: :patch %>
    <% else %>
        <%= link_to '<i class="suggestion-icon fa fa-thumbs-o-up" aria-hidden="true"></i>'.html_safe, up_vote_path(suggestion_id: suggestion.id), method: :patch %>
    <% end %>

    <% if suggestion.down_votes.include?(@user_id) %>
      <%= link_to '<i class="suggestion-icon fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe, down_vote_path(suggestion_id: suggestion.id), method: :patch  %>
    <% else %>
      <%= link_to '<i class="suggestion-icon fa fa-thumbs-o-down" aria-hidden="true"></i>'.html_safe, down_vote_path(suggestion_id: suggestion.id), method: :patch  %>
    <% end %>
    <span data-toggle="collapse" data-target="#comment-box<%= index %>"><i class="suggestion-icon fa fa-commenting-o"></i></span>
    <p class="text-right"><%= local_time(suggestion.created_at) %></p>
  </p>
  <span><%= suggestion.body %> </span>
</div>
