<p class="pull-right"> <%= suggestion.votes %> </p>
<br>
<p class='text-right'>
  <%= link_to '<i class="suggestion-icon fa fa-thumbs-up" aria-hidden="true"></i>'.html_safe %>
  <%= link_to '<i class="suggestion-icon fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe  %>
  <span data-toggle="collapse" data-target="#comment-box<%= index %>"><i class="suggestion-icon fa fa-commenting-o"></i></span>
</p>
<span id="suggestion-body"><%= suggestion.body %> </span>
