<div class="center-block" id="idea-container">
  <h1 class="text-center"><%= @idea.title %></h1>
  <% if current_user && current_user.id == @idea.user_id %>
    <%= link_to 'Create Trello Board', new_trello_path(idea_id: @idea.id, collaborators: @idea.collaborators) %> |
  <% end %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Collaborate <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Add to list', new_collaborator_path(id: @idea.id), data: { confirm: 'By clicking this, you are indicating that you would like to work on this idea in the future. Are you sure?'} %></li>
    <li><%= link_to 'Remove from list', remove_collaborator_path(id: @idea.id), data: { confirm: 'By clicking this, you are removing from collaborator list. Are you sure?'} %></li>
    <li role="separator" class="divider"></li>
    <% if @idea.collaborators.any? %>
      <% @idea.collaborators.each do |collaborator| %>
      <% collaborator = User.find(collaborator) %>
      <li><%= link_to collaborator.username%></li>
      <% end %>
    <% end %>
  </ul>
</div>

  <% if current_user %>
    <% if @idea.loves.include?(current_user.id) %>
      <span title="Love it" class="btn btn-counter active pull-right" data-count="<%= @idea.loves.count %>" data-idea-id="<%= @idea.id %>" ><span>&#x2764;</span> Love it</span>
    <% else %>
      <span href="#" title="Love it" class="btn btn-counter pull-right" data-count="<%= @idea.loves.count %>" data-idea-id="<%= @idea.id %>"><span>&#x2764;</span> Love it</span>
    <% end %>
  <% end %>

  <br>
  <span class="text-left creator-title"><%= @idea.user.username %> </span>
  <p><%= @idea.summary %></p>
  <% if @is_idea_creator %>
    <p class="text-right"><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_idea_path(@idea) %> | <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, @idea, data:{confirm: 'Are you sure?'}, method: :delete %></p>
  <% end %>
</div>
<div id="suggestion-box" class="center-block">
  <hr>
  <%= render 'suggestions_form', { idea: @idea } %>
  <% @suggestions.each_with_index do |suggestion, index| %>
    <hr>
    <%= render 'suggestion_content', { suggestion: suggestion, index: index } %>
    <%= render 'comments', { suggestion: suggestion, index: index } %>
  <% end %>
</div>
