<div class="center-block" id="idea-container">
  <h1 class="text-center"><%= @idea.title %></h1>
  <% if current_user && current_user.id == @idea.user_id %>
    <%= link_to 'Create Trello Board', new_trello_path(idea_id: @idea.id, collaborators: @idea.collaborators) %> |
  <% end %>
  <%= link_to 'Collaborate', new_collaborator_path(id: @idea.id), data: { confirm: 'By clicking this, you are indicating that you would like to work on this idea in the future. Are you sure?'} %>
  <br>
  <span class="text-left creator-title"><%= @idea.user.username %> </span>
  <p><%= @idea.summary %></p>
  <% if @is_idea_creator %>
    <p class="text-right"><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_idea_path(@idea) %> | <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, @idea, data:{confirm: 'Are you sure?'}, method: :delete %></p>
  <% end %>
</div>
<div id="suggestion-box" class="center-block">
  <hr>
  <%= render 'suggestions_form', { idea: @idea } %>
  <% @suggestions.each_with_index do |suggestion, index| %>
    <hr>
    <%= render 'suggestion_content', { suggestion: suggestion, index: index } %>
    <%= render 'comments', { suggestion: suggestion, index: index } %>
  <% end %>
</div>
