<div class="center-block" id="idea-container">
  <h1 class="text-center"><%= @idea.title %></h1>
  <p><%= @idea.summary %></p>
  <p class="text-right"><%= link_to 'Edit ', edit_idea_path(@idea) %>|<%= link_to ' Delete', @idea, data:{confirm: 'Are you sure?'}, method: :delete %></p>
</div>
<div id="suggestion-box" class="center-block">
  <% @suggestions.each_with_index do |suggestion, index| %>
    <hr>
    <%= render 'suggestion_content', { suggestion: suggestion, index: index } %>
    <%= render 'comments', { suggestion: suggestion, index: index } %>

  <% end %>
  <hr>
  <%= render 'suggestions_form', { idea: @idea } %>
</div>
