<div class="user-content center-block">
  <h1 class="text-center">Your Suggestions</h1>
  <% if @suggestions.any? %>
    <% @suggestions.each do |suggestion| %>
      <p><span class="pull-left"><%= local_time(suggestion.created_at) %></span><span class="pull-right"><%= suggestion.votes %></span></p>
      <br>
      <br>
      <p><%= link_to suggestion.idea.title, suggestion.idea, class: "idea-title" %></p>
      <p><%= suggestion.body %></p>
      <hr>
    <% end %>
  <% else %>
    <p class="text-center">No suggestions found.</p>
  <% end %>
  <div class="digg_pagination">
    <% if @suggestions.count > 30 %>
      <%= will_paginate @suggestions, :container => false %>
    <% end %>
  </div>
</div>
