<h1 class="text-center">Create Trello Board</h1>
<form action="/trello/boards" method="post">
  <div class="text-center" id="create-board-title">
    <label for="board">Title:</label>
    <input id="board-title" type="text" value="<%= @idea.title %>" name="board"></input>
    <% if current_user.trello != nil %>
      <input class="btn btn-success" type="submit" value="Create Board"></input>
    <% else %>
      <%= link_to 'Authorize Trello', "javascript:authenticateTrello()" %>
    <% end %>
  </div>
  <div id="trello-container" class="center-block">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Suggestions</div>
              <ul class="list-group">
                <% @idea.suggestions.all.each_with_index do |suggestion, index| %>
                <li class="list-group-item">
                  <div class="list-text"><%= suggestion.body %><span class="pull-right">Points: <%= suggestion.votes %></span></div>
                  <div class="material-switch pull-right">
                    <input id="<%= index %>" name="suggestions[]" type="checkbox" value="<%= suggestion.body %>"></input>
                    <label for="<%= index %>" class="label-success"></label>
                  </div>
                </li>
                <% end %>
              </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Collaborators</div>
              <ul class="list-group">
          <% if @collaborators_array %>
            <% @collaborators_array.each do |collaborator, id| %>
              <li class="list-group-item">
                <div class="list-text"><%= collaborator %></div>
                <div class="material-switch pull-right">
                  <input id="collaborator<%= id %>" name="collaborators[]" type="checkbox" value="<%= id %>"></input>
                  <label for="collaborator<%= id %>" class="label-success"></label>
                </div>
              </li>
            <% end %>
          <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</form>
