<div class="text-center">
  <h1 class="text-center">Create Trello Board</h1>
  <form action="/trello/boards" method="post">
    <label for="board">Title:</label>
    <input id="board-title" type="text" value="<%= @idea.title %>" name="board"></input>
    <input type="submit" value="Create Board"></input>
    <div id="trello-board-table">
      <table class="table table-hover">
        <tr>
          <th>Suggestions</th>
        </tr>
        <% @idea.suggestions.all.each do |suggestion| %>
        <tr>
          <td><input type="checkbox" name="suggestions[]" value="<%= suggestion.body %>"> <%= suggestion.body %></input></td>
        </tr>
        <% end %>
      </table>

        <% @collaborators_array.each do |collaborator, id| %>
          <input type="checkbox" name="collaborators[]" value="<%= id %>"><%= collaborator %></input>
        <% end %>

    </div>
  </form>
</div>
