<!DOCTYPE html>
<html>
  <head>
    <title>Ideaocracy</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/17273112b9.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://trello.com/1/client.js?key=<%= Rails.application.secrets.trello_api_key %>"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/">Ideaocracy</a>
      <% if current_user %>
        <a href="/ideas/new"><i id="lightbulb-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%=link_to '<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>'.html_safe, show_user_path %> </li>
          <li><%= link_to '<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        </ul>
    </nav>

    <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, class: "alert alert-info text-center" %>
    <% end %>

    <%= yield %>
  </body>
</html>
