<!DOCTYPE html>
<html>
  <head>
    <title>Ideaocracy</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/17273112b9.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/">Ideaocracy</a>
      <% if current_user %>
      <p>Hello, <%= current_user.first_name %>!
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "pull-right" %>
        <a href="/ideas/new"><i id="lightbulb-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
      <% else %>
        <%= link_to 'Register', new_user_registration_path, class: "pull-right" %>
        <%= link_to 'Login', new_user_session_path, class: "pull-right" %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
      
        
