<!DOCTYPE html>
<html>
  <head>
    <title>Ideaocracy</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/17273112b9.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://trello.com/1/client.js?key=<%= Rails.application.secrets.trello_api_key %>"></script>
  </head>

  <body>
    <div class="wrapper">
    <!-- Sidebar Holder -->
  <nav id="sidebar" class="active">
    <div class="sidebar-header">
        <h3>Ideaocracy</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="/ideas">Home</a>
      </li>
      <li>
        <a href="#">About</a>
        <% if current_user %>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">View History</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">

          <%= link_to show_user_ideas_path do%>
           Your ideas <%= content_tag :span,"#{current_user.ideas.count}",class:"badge" %>
          <% end %>

          <%= link_to show_user_suggestions_path do%>
           Your suggestions <%= content_tag :span,"#{current_user.suggestions.count}",class:"badge" %>
          <% end %>

          <%= link_to show_user_comments_path do%>
           Your comments <%= content_tag :span,"#{current_user.comments.count}",class:"badge" %>
          <% end %>
        </ul>
        <% end %>
      </li>
      <li>
        <%= link_to 'Account Setting',  edit_user_registration_path %>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <% if current_user %>
      <%=link_to '<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>'.html_safe, show_user_path %> <%= link_to '<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path %> <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </nav>
    <!-- Page Content Holder -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="navbar-btn active">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/ideas">Home</a></li>
          <li><a href="/ideas/new">Share idea</a></li>
        <% if current_user %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> 
        <% else %>
          <li> <%= link_to 'Register', new_user_registration_path %> </li>
          <li> <%= link_to 'Login', new_user_session_path %> </li>  
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
<!-- Flash messages -->
   <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
          <%= value %>
    </div>
   <% end %>
    <%= yield %>
  </div>
  </div>
  </body>
   <script type="text/javascript">
    $(document).ready(function () {
     $('#sidebarCollapse').on('click', function () {
         $('#sidebar').toggleClass('active');
         $(this).toggleClass('active');
         });
      });

    setTimeout(function(){
    $('.alert').fadeOut();
   }, 5000);

   </script>
</html>
